<div class="headerTop">
	<div class="containerBig">
		<div class="mainLogo">
			<a alt="Website" title="Nume site" href='/'><img alt="Logo" src="assets/logo/logo-blue-white.png"/></a>
		</div>
		<div class="rightMenu">

			<!-- Service -->
			<a alt="Anunț nou" title="Login" class="announceButton" href="/login">
				<i class="fa fa-user-circle"></i><span>Login</span>
      </a>

			<!-- Account button -->
			<button alt="Account" title="Register" class="acc modalButton link myAccount" >
				<a href='/register'><i class="fa fa-plus"></i><span>Register</span></a>
			</button>

		</div>
	</div>
</div>
