
img {
    max-width: 100%;
  }
  
  .container {
    height:100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  
  .img-container {
    position: absolute;
    left: 0;

    opacity: 0;
    height: auto !important;
    background-size: cover;
    background-position: center;
    will-change: opacity;
    transition: opacity .3s;
    cursor: pointer;
  }
  
  .page-text[_ngcontent-why-c4]{
    margin-top: 70% !important;
  }
  
  .slide-button:hover, .slide-button-select {
    width: 64px !important;
    background-color: #10B660 !important;
    pointer-events: none;
    transition: background-color .4s, width 4s cubic-bezier(0.190, 1.000, 0.220, 1.000) !important;
  }
  
  
  .slide-button {
    width: 25px !important;
    height: 25px;
    background-color: #3873bd;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
  
  }
  
  .slider {
    position: absolute;
    top: 800px;
    right: 50%;
    opacity: 1;
    min-width: 30px;
    display: inline-flex;
  }
  
  .slide-button-parent-container {
    position: relative;
    margin: 22px 25px;
    min-height: 4px;
  }
  
  .select-box {
    min-height: 10px;
  }
  
  .text-container {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .page-text {
    min-height: 373px;
    height: 100%;
    opacity: 0;
    font-weight: 400;
    font-size: 90px;
    color: white;
    margin-top: 80%;
  }
  
  .selected {
    opacity: 1;
    transition: 1s;
    background-color:#ffffff5c
  }
  
  